
body {
    background-color: lightcyan;
}

h1, h2 {
    text-align: center;
}

form {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#iniciarsesion, #registrar {
    height: 70px;
    width: 100px;
}